<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--    <bean id="student" class="com.saideepak.Student" scope="prototype"></bean>-->
    <bean id="student" class="com.saideepak.Student" autowire="byName">
        <!--        <property name="age" value="21"/>-->
        <!--        <property name="lap" ref="laptop"/>-->
        <!--        <constructor-arg value="21"/>-->
        <!--        <constructor-arg ref="desktop"/>-->
    </bean>

    <bean id="comp" class="com.saideepak.Laptop"/>
    <bean id="desktop" class="com.saideepak.Desktop"/>

</beans>

